
<!-- j'ai mis tout le code dans des composants -->
<!-- la responsivité, c'est pas top, ce n'est pas facile de travailler 100% div-->
<router-outlet></router-outlet>


<!--
<header>
  <table width="900px"><tr>
      <td align="let" wi><img src="assets/logo.jpg" width="40px" height="40px"> 
        <span class="titre">Bibliothèque</span>
      </td>
      <td align="right"><a routerLink="admin" class="lienaction">Admin >></a></tr>
  </table>
    <nav>
    </nav>
   </header>
   <body>
    <main>
      <router-outlet></router-outlet>
      <div style="width: 900px; text-align: right;">
        <table width="900px"><tr><td align="right"><a routerLink="" class="lienaction">Accueil>></a></tr></table>
      </div>
    </main>
  </body>
 -->