<div class="principale">

<app-haut></app-haut>

<div class="divcentre">
    <div class="divcontenu">
        <div class="menugauche"> 

        </div>
        <div class="textcentral">
            <br> <br> <br> 
            <br><p>Amazigh silver est une entreprise spécialisée dans la vente de bijoux en argent ou en  cuivre en provenance du sud du Maroc.<br><br>
            Nous proposons de très beaux objets artisanaux au meilleur prix, nous vous proposons aussi de fabriquer et de vous fournir des bijoux selon les modèles que vous proposez.</p>
            
        </div>
        <div class="textcentralimage">
        <br> <br> <br> 
        <img src="../assets/img/visuel1.jpg"> 
        </div>
    </div>
</div>

<app-bas></app-bas>

</div>
