<div class="divhaut">
    <div class="divlogo"><span class="textgras"><a href=""><img src="../assets/img/logo.gif" class="imgresponsive"></a></span></div>
    <div class="divmenu">
      <div class="divboutonsmenu">
        <div class="divimagebouton1"><a href="javascript:void(0)" (click)="afficherProduits(1)"><img src="../assets/img/argent-bouton.gif"></a></div> 
        <div class="divimagebouton2"><a href="javascript:void(0)" (click)="afficherProduits(2)"><img src="../assets/img/cuivre-bouton.gif"></a></div>
      </div>
    </div>
    <div class="divpanier"><a href="#"><img src="../assets/img/panier.gif" width="25px" height="25px" alt="Voir le panier"></a> </div>
  </div>
